.background {
    background-color: #139153;
}

.navbar-brand {
    width: calc(30%);
}

.nav-item {
    margin-right: 8px;
}

.navbar {
    padding: 0;
    font-size: 1.3em;
    min-height: 3rem;
}

.active-link {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}