<app-header></app-header>

<div class="container">

    <mat-card class="card-principal">
        <mat-card-content>
            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex align-items-start justify-content-between">
                        <p>Olá, <b>{{appService.usuarioLogado.nome}}</b></p>
                        <p *ngIf="possuiOrcamento()">Vigência: {{orcamento.dataInicio | date: 'dd/MM/yyyy'}} - {{orcamento.dataFim | date: 'dd/MM/yyyy'}}</p>
                        <div *ngIf="possuiOrcamento()">
                            <p>saldo geral</p>
                            <p>{{saldo | currency : 'BRL'}}</p>
                        </div>
                    </div>
                    <p *ngIf="!possuiOrcamento()" class="pt-2">Não encontramos nenhum orçamento vigente. Adicione agora mesmo!</p>
                    <div *ngIf="possuiOrcamento()" class="d-flex align-items-center justify-content-between">
                        <mat-card class="card-acoes">
                            <p>receitas</p>
                            <p class="receita">{{orcamento.valorReceitas | currency : 'BRL'}}</p>
                        </mat-card>
                        <mat-card class="card-acoes">
                            <p>despesas</p>
                            <p class="despesa">{{orcamento.valorDespesas | currency : 'BRL'}}</p>
                        </mat-card>
                        <mat-card [routerLink]="['/relatorios']" class="card-acoes card-relatorios">
                            <p>ver relatórios</p>
                            <span><i class="bi bi-graph-up-arrow"></i></span>
                        </mat-card>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p>Acesso rápido</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn-acesso-rapido" (click)="openDialogOrcamento()">
                            <i class="bi bi-currency-dollar orcamento"></i>
                            <p>ORÇAMENTO</p>
                        </div>     
                        <div *ngIf="possuiOrcamento()" class="btn-acesso-rapido" (click)="openDialogTransacao(true)">
                            <i class="bi bi-plus-circle receita"></i>
                            <p>RECEITA</p>
                        </div>
                        <div *ngIf="possuiOrcamento()"  class="btn-acesso-rapido" (click)="openDialogTransacao(false)">
                            <i class="bi bi-dash-circle despesa"></i>
                            <p>DESPESA</p>
                        </div>     
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<app-footer></app-footer>
