<app-header></app-header>

<div class="container">

    <mat-card class="card-principal">
        <mat-card-content>
            <div class="row">
                <div class="col-md-8">
                    <div class="conteudo-principal d-flex align-items-start justify-content-between">
                        <p>Olá, <b>{{appService.usuarioLogado.nome}}</b></p>
                        <!-- <p *ngIf="possuiOrcamento()">Vigência: {{appService.orcamentoVigente.dataInicio | date: 'dd/MM/yyyy'}} - {{appService.orcamentoVigente.dataFim | date: 'dd/MM/yyyy'}}</p> -->
                        <div *ngIf="possuiOrcamento()">
                            <p>saldo geral</p>
                            <div class="container-saldo">
                                <p [ngClass]="{'blur' : !showSaldo}">{{saldo | currency : 'BRL'}}</p>
                                <span class="saldo" (click)="showSaldoClick()">
                                    <i *ngIf="!showSaldo" class="bi bi-eye"></i>
                                    <i *ngIf="showSaldo" class="bi bi-eye-slash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="!possuiOrcamento()" class="pt-2">Não encontramos nenhum orçamento vigente. Adicione agora mesmo!</p>
                    <div *ngIf="possuiOrcamento()" class="d-flex align-items-center">
                        <mat-card class="card-acoes">
                            <p>receitas</p>
                            <p class="receita">{{appService.orcamentoVigente.valorReceitas | currency : 'BRL'}}</p>
                        </mat-card>
                        <mat-card class="card-acoes">
                            <p>despesas</p>
                            <p class="despesa">{{appService.orcamentoVigente.valorDespesas | currency : 'BRL'}}</p>
                        </mat-card>
                        <mat-card [routerLink]="['/relatorios']" class="card-acoes card-relatorios">
                            <p>ver relatórios</p>
                            <span class="receita"><i class="bi bi-graph-up-arrow"></i></span>
                        </mat-card>
                    </div>
                </div>
                <div class="col-md-4 borda">
                    <div>
                        <p>Acesso rápido</p>
                    </div>
                    <div class="acesso-rapido">
                        <div class="btn-acesso-rapido" (click)="openDialogOrcamento()" matTooltip="Adicionar orçamento">
                            <i class="bi bi-currency-dollar orcamento"></i>
                            <p>ORÇAMENTO</p>
                        </div>
                        <div *ngIf="possuiOrcamento()" class="btn-acesso-rapido" (click)="openDialogTransacao(true)" matTooltip="Adicionar receita">
                            <i class="bi bi-plus-circle receita"></i>
                            <p>RECEITA</p>
                        </div>
                        <div *ngIf="possuiOrcamento()"  class="btn-acesso-rapido" (click)="openDialogTransacao(false)" matTooltip="Adicionar despesa">
                            <i class="bi bi-dash-circle despesa"></i>
                            <p>DESPESA</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<app-footer></app-footer>
