.card-principal {
    margin-top: 20px;
}

.conteudo-principal p {
    font-size: 1.2em;
}

.card-acoes {
    flex: 0 1 180px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    height: 50px;
}

.card-acoes p {
    margin: 0;
}

.card-relatorios {
    cursor: pointer;
}

.acesso-rapido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-acesso-rapido {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.btn-acesso-rapido i {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.btn-acesso-rapido p {
    font-size: 1.1em;
}

.borda {
    border-left: 1px solid #ccc;
}

/* Ajustes */
@media (max-width: 320.98px) {
    .borda {
        border-left-color: transparent;
        border-top: 1px solid #ccc;
    }
    .borda>div p {
        margin-top: 10px;
        text-align: center;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 321px) and (max-width: 575.98px) {
    .borda {
        border-left-color: transparent;
        border-top: 1px solid #ccc;
    }
    .borda>div p {
        margin-top: 10px;
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .borda {
        border-left-color: transparent;
        border-top: 1px solid #ccc;
    }
    .borda>div p {
        margin-top: 10px;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}