.card-principal {
    margin-top: 20px;
    padding: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-titulo {
    display: flex;
    align-items: center;
}

.btn-add-transacao {
    background-color: transparent;
    margin-top: -10px;
}

.btn-add-transacao i {
    font-size: 2em;
}

table {
    width: 100%;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: whitesmoke;
}

.mat-mdc-chip-selected.receita {
    background-color: #139153;
}

.mat-mdc-chip-selected.despesa {
    background-color: #c01f2c;
}