<div class="p-2">
    <div class="d-flex justify-content-end">
        <span class="fechar" (click)="fechar()">
            <i class="bi bi-x"></i>
        </span>
    </div>
    <h2 mat-dialog-title [ngClass]="{'receita': data.isReceita, 'despesa': !data.isReceita}">{{texto}}</h2>
    <div mat-dialog-content>
        <form [formGroup]="transacaoForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <label for="descricao">Descrição</label>
                    <input type="text" placeholder="Descrição" formControlName="descricao" id="descricao">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="data">Data</label>
                    <input type="date" placeholder="Data" formControlName="data" id="data">
                </div>
                <div class="col-md-6">
                    <label for="valor">Valor</label>
                    <input placeholder="Valor" formControlName="valor" id="valor"
                    currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="categoria">Categoria</label>
                    <select matNativeControl formControlName="categoriaId" id="categoria">
                        <option value=0 selected>Selecionar categoria</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{categoria.nome}}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="showErro" class="alert alert-danger">
                {{mensagemErro}}
            </div>
            <button class="check-btn"
            [disabled]="!transacaoForm.valid"
            matTooltip="Verifique se as informações foram corretamente preenchidas" 
            [matTooltipDisabled]="transacaoForm.valid">
                <i class="bi bi-check-circle-fill"></i>
            </button>
        </form>
    </div>
</div>
