.d-flex {
    height: 100vh;
}

.card {
    width: 35vw;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px 1px #CCC;
}

form {
    display: flex;
    flex-direction: column;
}