<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card text-center">
        <img class="img-fluid logo" src="assets/img/logo-alternativa.png" width="180">
        <p>Gerencie seu dinheiro de forma inteligente. Cadastre-se agora.</p>
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Seu nome" formControlName="nome" required>
            <input type="text" placeholder="E-mail" formControlName="email" required>
            
            <div class="container-senha">
                <input [type]="showSenha ? 'text' : 'password'" placeholder="Senha" formControlName="senha" required>
                <span class="senha" (click)="senha()">
                    <i *ngIf="!showSenha" class="bi bi-eye"></i>
                    <i *ngIf="showSenha" class="bi bi-eye-slash"></i>
                </span>
            </div>

            <div class="container-senha">
                <input [type]="showConfirmacaoSenha ? 'text' : 'password'" placeholder="Confirme sua senha" formControlName="confirmacaoSenha" required>
                <span class="senha" (click)="confirmacaoSenha()">
                    <i *ngIf="!showConfirmacaoSenha" class="bi bi-eye"></i>
                    <i *ngIf="showConfirmacaoSenha" class="bi bi-eye-slash"></i>
                </span>
            </div>

            <div *ngIf="showErro" class="alert alert-danger">
                {{msgErro}}
            </div>

            <div *ngIf="showSucesso" class="alert alert-success">
                Cadastro realizado com sucesso!
            </div>

            <input type="submit" value="Cadastrar"
                   matTooltip="Verifique se as informações foram corretamente preenchidas" 
                   [matTooltipDisabled]="cadastroForm.valid"
                   [disabled]="!cadastroForm.valid">
        </form>
        <p>Já possui cadastro? <a [routerLink]="['/login']">Clique aqui</a></p>
    </div>
</div>
