<app-header></app-header>

<div class="container">
    <mat-card class="card-principal">
        <h2>Relatórios</h2>
        <div class="row">
          <div class="col-md-12">
            <app-bar-chart-transacoes-periodo
              [altura]="'500px'">
            </app-bar-chart-transacoes-periodo>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <app-pie-chart-transacoes-categoria
              [tipoCategoria]="1"
              [altura]="'300px'">
            </app-pie-chart-transacoes-categoria>
          </div>
          <div class="col-md-6">
            <app-pie-chart-transacoes-categoria
              [tipoCategoria]="2"
              [altura]="'300px'">
            </app-pie-chart-transacoes-categoria>
          </div>
        </div>
    </mat-card>
</div>

<app-footer></app-footer>
