.card-principal {
    margin-top: 20px;
    padding: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-titulo {
    display: flex;
    align-items: center;
}

.btn-add-orcamento {
    background-color: transparent;
    margin-top: -10px;
}

.btn-add-orcamento i {
    font-size: 2em;
}

.mat-mdc-table {
    width: 100%;
    table-layout: fixed;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: whitesmoke;
}

.texto-mobile {
    display: none;
}

@media(max-width: 992px) {
    .texto-mobile {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }

    .mat-mdc-header-row {
        display: none;
    }

    .mat-mdc-row { 
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 100%;
        border-bottom: 1px solid #ccc;
    }

    .mat-mdc-cell {
        font-size: 1em;
        overflow: visible;
        border: none;
    }
}